// Here you can add other styles
.breadcrumb {
  margin-bottom: 0.60rem !important;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.minimalFooter {
  margin-left: 0 !important;
}


.disabled {
  color: currentColor;
  display: inline-block; /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

/**
** THEME
 */

body {
  background-color: rgba(233, 234, 235, 0.7);
}

/**
** ACCORDION
 */

.accordion > div > .card {
  //border-bottom: none;
}

.accordion > div > .card > .card-header {
  padding-bottom: 0.75rem !important;
}

.accordion > div:not(:first-child) > .card {
  border-top: none;
  border-radius: 0;
}

.accordion > div > .card:not(.accordion-item_open) {
  background-color: transparent;
}

.accordion > div > .card:not(.accordion-item_open) > .card-header {
  border-bottom: none;
}

.accordion > div:first-child > .card {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion > div:last-child > .card.accordion-item_open {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.accordion > div:last-child > .card {
  border-bottom-left-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;
}

.accordion-grey > div > .card > .card-header {
  background-color: #e4e5e6 !important
}

.accordion-light > div > .card > .card-header {
  background-color: rgba(253, 253, 253, 1) !important;
}
.accordion-light > div > .card > .card-header > button {
  color: #49515a;
}
/**
** NAV
 */
@media (max-width: 768px) {
  .sidebar-show .main::before, .aside-menu-show .main::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1018;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.7);
    -webkit-animation: opacity 0.25s;
    animation: opacity 0.25s;
  }
  html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 0px;
  }
}

header > #mmenu-toggle-icon {
  margin-top: 15px;
}

.header-fixed .app-body {
  margin-top: 65px;
}

.app-header {
  height: 65px;
}

.app-header .navbar-brand {
  width: auto;
  height: auto;
}

.navbar-brand img {
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.sidebar .nav-link.active {
  color: #fff;
  background: #535e67;
}
.navbar-brand:hover {
 cursor: pointer;
}
/**
** TABLE
 */

.react-bootstrap-table {
  background-color: white;
}

.react-bootstrap-table th.sortable {
  cursor: default !important;
}

.react-bootstrap-table th.sortable span {
  cursor: pointer !important;
}

.table th {
  border-top: none;
}

.table-bordered tbody tr td:not(:last-child), .table-bordered thead tr th:not(:last-child) {
  border-right: none !important;
}

.table:not(.table-bordered) tbody tr td:not(:first-child), .table:not(.table-bordered) thead tr th:not(:first-child) {
  border-left: 1px solid #c8ced3;
}

.table-ctrl-select {
  padding: 0 !important;
  position: relative;
}

.table-btn-select {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  border-radius: 0;
}

.table-btn-select-active {
  background-color: rgba(137, 215, 65, 0.2) !important;
}

.table-btn-select-inactive {
  background-color: rgba(255, 76, 57, 0.06) !important;;
}

.table-row-clickable tbody tr td:not(.table-ctrl-select) {
  cursor: pointer;
}

.table-row-focus > td:not(.table-ctrl-select) {
  background-color: rgba(200, 206, 211, 0.35);
}

.table-row-selected {
  background-color: rgba(224, 230, 235, 0.35);
}

.table-ctrl-head {
  border-left: none !important;
}

.table-ctrl-body {
}

.table-title {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
}

/**
** DATE
 */

.picker-popper {
  position: absolute;
  will-change: transform;
  top: 0;
  left: 0;
  transform: translate3d(15px, 25px, 0px);
}

.picker-popper[data-placement^="bottom"] {
  margin-top: 10px;
}

.react-datepicker__navigation.react-datepicker__navigation--next.disabled, .react-datepicker__navigation.react-datepicker__navigation--prev.disabled {
  display: none !important;
}

.react-datepicker-year-header {
  min-height: 32px;
}

.react-datepicker__year-container {
  float: left;
  width: 12rem;
}

.react-datepicker__year .react-datepicker__year-text {
  display: inline-block;
  width: 3rem;
  margin: 0.5rem;
}

.react-datepicker__quarter, .react-datepicker__year {
  text-align: center;
}

.react-datepicker__quarter .react-datepicker__quarter-text {
  display: inline-block;
  width: 6rem;
  margin: 0.5rem;
}

.react-datepicker__quarter-text > h5 {
  margin-bottom: 0;
}

.react-datepicker__quarter-text, .react-datepicker__year-text {
  cursor: pointer;
}

.react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover {
  background-color: #f0f0f0;
  border-radius: 0.3rem;
}

.react-datepicker__quarter .disabled, .react-datepicker__year .disabled {
  color: #ccc;
  pointer-events: none;
}

.react-datepicker__quarter .selected, .react-datepicker__year .selected {
  background-color: rgba(143, 165, 106, 0.80);
  border-radius: 0.3rem;
}

.DayPickerInput {
  width: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

.DayPickerInput input, .DayPicker input, .react-datepicker__input-container input {
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
  width: 100%;
}

/**
** IMAGE
 */

.img-xl {
  height: 150px;
}
.img-lg {
  height: 100px;
}
.img-md {
  height: 70px;
}
.img-sm {
  height: 40px;
}
.img-xs {
  height: 20px;
}
.img-xxs {
  height: 13px;
}

/**
** CARD
 */

.card {
  height: 100%;
  margin-bottom: 0;
}

.card-body {
}

.card-empty-background {
  background-color: #fff !important;
}

.card-border-full {
  border-width: 1.5px !important;
  border-style: solid;
}

.card-header {
  padding-bottom: 5px !important;
}

.card-parameters {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

@media(max-width: 1200px) {
  .card-param1, .card-param2 {
    margin-bottom: 5px;
  }
}

@media(min-width: 1200px) {
  .card-param1 {
    padding-right: 10px !important;
  }

  .card-param2 {
    padding-right: 10px !important;
  }

  [class*="card-param"] > [class*="col-"] {
    padding: 0;
  }
}

.card-parameters > .card {
  margin-bottom: 0.5rem !important;
}

/**
** CHART
 */

.chart-wrapper {
  margin: auto;
  padding-bottom: 1rem;
}

/**
** DATE TYPE PICKER
 */
.btn-db-ctn {
  width: 100%;
}

button.btn-dp-width.btn-outline-primary {
  margin-left: -1px;
  margin-bottom: 5px;
  border-radius: 0;
}

button.btn-dp-width.btn-outline-primary:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

button.btn-dp-width.btn-outline-primary:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.btn-dp-width {
  width: auto;
}

@media (min-width: 1620px) {
  .btn-dp-width {
    min-width: 17%;
  }
}

@media (min-width: 1700px) {
  .btn-dp-width {
    min-width: 18%;
  }
}

/**
** INPUT
 */

.input-group {
  margin-bottom: 0.5rem;
}

.input-fill {
  flex: 1 1 auto;
}

.input-addon, .input-addon div {
  border-radius: 0 4px 4px 0 !important;
}

div.input-group > .input-addon:last-child div {
  border-radius: 0 4px 4px 0 !important;
}

div.input-group > .input-addon:first-child div {
  border-radius: 4px !important;
}

.input-verification {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

input.not-editable, input.not-editable:focus {
  background-color: #e4e7ea;
}

.input-error {
  background-color: rgba(255, 0, 8, 0.50) !important;
}

.input-error button {
  background-color: transparent !important;
}

.css-i0syzg-menu {
  z-index: 2 !important;
}

textarea {
  min-height: 40px;
}

/**
** TITLE
 */

.title-small {
  margin-bottom: 0.3rem;
}

.ctn-title {
  margin-bottom: 1rem;
}

.ctn-title .base-title {
  font-size: 1.53125rem;
}

.ctn-title .base-subtitle {
  font-size: 1.3125rem;
  margin-left: 1rem;
}

/**
** BUTTON
 */

.btn-image {
  display: flex;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.btn-image:hover .color-overlay {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(85, 110, 123, 0.2);
  position: absolute;
}

.btn-image:active .color-overlay {
  border: solid 1px rgba(46, 128, 162, 0.55);
  background-color: rgba(143, 202, 226, 0.32);
}

.btn-image span {
  z-index: 1;
}

.btn-kofi:hover {
  cursor: pointer;
  color: red;
}

.btn-label {
  display: flex !important;
  margin-top: 5px !important;
}

.btn-label:before {
  display: flex !important;
  margin-top: 5px !important;
}

.btn-label:after {
  display: flex !important;
  margin-top: 5px !important;
}
/*
** SIZE
 */

.sx-full {
  width: 100%;
}

.sx-md {
  width: 50%;
}

.sx-sm {
  width: 33%;
}

/**
* FONT
 */

.text-muted {
  color: #6b7987 !important
}

.text-secondary {
  color: #555555 !important
}

.text-light {
  color: #b8b8b8 !important
}

.txt-light {
  color: rgba(42, 239, 131, 0.94);
}
.code-highlight {
  color: #3974df;
}

.font-sm {
  font-size: 1rem;
}

.font-md {
  font-size: 1.2rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

/**
* MARGIN
 */
.margin-bot-l5 {
  margin-bottom: -5px !important;
}

.margin-off {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.ml-6 {
  margin-left: 3rem;
}

.mb-6 {
  margin-bottom: 3rem;
}

.mt-6 {
  margin-top: 3rem;
}
.mt-7 {
  margin-top: 5rem;
}

/**
** PADDING
 */

.pr-6 {
  padding-right: 2.5rem;
}

@media (min-width: 1200px) {
  .pr-col-6 {
    padding-right: 2.5rem;
  }
}

.padding-off {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/**
** POPOVER
 */
.pop-btn:hover {
  cursor: pointer !important;
  color: #63c2de !important;
  border-radius: 0.3em !important;
  background-color: rgba(210, 233, 249, 0.29) !important;
}

.pop-btn {
  color: #73818f;
  border: none !important;
}

.pop-btn-right {
  padding-right: 0.65rem;
}

.pop-btn-left {
  padding-left: 0.40rem;
}

.pop-info {
  padding: 0 !important;
}

/**
** SLIDER
 */
.slider-labels {
  text-align: center;
}

.slider-min {
  float: left;
}

.slider-middle {
  vertical-align: middle;
}

.slider-max {
  float: right;
}

/**
** ALIGN
 */
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

/**
** BORDER
 */
.border-bottom-off {
  border-bottom: none !important;
}

.border-top-off {
  border-top: none !important;
}

.border-right-off {
  border-right: none !important;
}

.border-left-off {
  border-left: none !important;
}

/**
** BADGES
 */

.badge-info.light {
  color: white;
}

/**
** LIST-GROUP
 */
.list-group-item.header {
  background-color: #f3f5f8;
  color: #586069;
}

.list-group-item.active {
  font-weight: bold;
  background-color: white;
  color: #1b1f23;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 4px solid #e36209;
}

/**
** DISPLAY
 */

.display-flex {
  display: flex;
}

/**
** GENERAL
 */

.box-delim {
  padding-top: 1.3rem;
  margin-bottom: 0.5rem;
}

.parameter-bloc {
  padding-top: 15px !important;
}

.parameter-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: inherit;
  padding-bottom: inherit;
}

/**
** MARKDOWN
 */

.markdown-bot {
  padding-left: 1rem;
  border-bottom: 1px solid #d0d1d4;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
}

.markdown-bot-small {
  padding-left: 0.5rem;
  border-bottom: 1px solid #d0d1d4;
  margin-bottom: 0.5em;
}
